.FormControl {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.FormControl label {
    margin-bottom: .6em;
    font-weight: bold;
}

.FormControl input {
    padding: .7em;
    border-radius: 0;
    border: none;
}

.FormControl input::placeholder {
    color: #7b7b7b;
}